.div,
.div * {
    box-sizing: border-box;
}
.div {
    background: #ff9494;
    height: 1117px;
    position: relative;
    overflow: hidden;
}
.rectangle-55 {
    background: rgba(255, 255, 255, 0.5);
    width: 864px;
    height: 1117px;
    position: absolute;
    left: 864px;
    top: 0px;
}
.rectangle-42 {
    background: #ffffff;
    border-radius: 30px;
    width: 1060px;
    height: 708px;  /*1020px*/
    position: absolute;
    left: 334px;
    top: 228px; /*49px*/
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.div2 {
    color: #2f2f2f;
    text-align: center;
    font-family: "BmHannaTtf-Regular", sans-serif;
    font-size: 64px;
    font-weight: 400;
    position: absolute;
    left: 760px;
    top: 313px;
}
.div3 {
    color: #2f2f2f;
    text-align: center;
    font-family: "BmHannaTtf-Regular", sans-serif;
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    left: 816px;
    top: 856px;
}
.div4 {
    position: absolute;
    inset: 0;
}
.rectangle-57 {
    background: #ffffff;
    border-radius: 30px;
    border-style: solid;
    border-color: #d1d1d1;
    border-width: 2px;
    width: 853px;
    height: 98px;
    position: absolute;
    left: 438px;
    top: 586px;
}
.div5 {
    color: #959595;
    text-align: center;
    font-family: "BmHannaTtf-Regular", sans-serif;
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    left: 464px;
    top: 615px;
}
.rectangle-58 {
    background: #2f2f2f;
    border-radius: 30px;
    width: 848px;
    height: 98px;
    position: absolute;
    left: 443px;
    top: 731px;
}
.div6 {
    color: #ffffff;
    text-align: center;
    font-family: "BmHannaTtf-Regular", sans-serif;
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    left: 820px;
    top: 760px;
}
.rounded-rectangle {
    background: #ffffff;
    border-radius: 30px;
    border-style: solid;
    border-color: #d1d1d1;
    border-width: 2px;
    width: 853px;
    height: 98px;
    position: absolute;
    left: 438px;
    top: 441px;
}
.div7 {
    color: #959595;
    text-align: center;
    font-family: "BmHannaTtf-Regular", sans-serif;
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    left: 464px;
    top: 470px;
}
